<div class="container-fluid">
  <div class="row justify-content-center" [ngClass]="{
        'text-right': document.documentElement.dir == 'rtl',
        'text-left': document.documentElement.dir == 'ltr'
      }">
    <div class="col-12 d-flex justify-content-center flex-column mt-3">
      <img src="../../../assets/images/connectonLost.svg" class="align-self-center mt-5" alt="" />
      <span class="form-header primary text-center mt-4">
        {{ 'connectionLost.title' }}
      </span>
      <span class="grey-text text-center mt-4">
        'connectionLost'
      </span>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-4">
        <div class="mt-5">
          <button mat-raised-button color="primary" class="btn extra-larg" (click)="Refresh()">
            submit

          </button>
        </div>
      </div>
    </div>
  </div>
</div>