<div class="col-12">
  <div class="flex flex-column xl:flex-row xl:align-items-start p-3 gap-4">
    <img class="w-5 sm:w-10rem xl:w-4rem shadow-2 block xl:block mx-auto border-round" [src]="product.ProductImg" />
    <div
      class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
      <div class="flex flex-column align-items-center sm:align-items-start gap-3">
        <div class="text-2xl font-bold text-900">{{ product.ProductName }}</div>

      </div>

      <div class="text-2xlfont-semibold">{{ product.ProductPrice }}</div>
      <div class="text-2xlfont-semibold">{{ product.Quantity }}</div>
      <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
        <span class="text-2xl font-semibold">{{ product.ProductPrice *product.Quantity |currency }}</span>

      </div>
    </div>
  </div>
</div>
