<div class="card">
  <p-dataView #dv [value]="orderList" [rows]="6" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder"
    [layout]="layout">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
          (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>

        <div class=" justify-content-end">
          <p-dataViewLayoutOptions [layout]="layout"></p-dataViewLayoutOptions>
        </div>
      </div>
    </ng-template>
    <ng-template let-order pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <!-- <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
            [src]="order.ProductImg" />  -->
          <div class="grid-img">
            {{ FormHelperService.getFirstChars(order?.User?.Name ) }}
          </div>
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold text-900">{{ order?.User?.Name }}</div>
              <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-tag"></i>

                  <!-- PaymentType: string;
                  Products: Product[];
                  UserId: string;
                  User?: User;
                  TotalPrice?: number -->
                  <span class="font-semibold">{{ order.OrderDate |date }}</span>
                </span>
                <p-tag [value]="order.PaymentType" [severity]="getSeverity(order)"></p-tag>
              </div>
            </div>
            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
              <span class="text-2xl font-semibold">{{ order.TotalPrice |currency }}</span>
              <button pButton class="md:align-self-end mb-2 p-button-rounded"
                [routerLink]="['OrderDetails', order.OrderId]" routerLinkActive="router-link-active">View
                details</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </p-dataView>
</div>